@import "library";

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 500px;
}

// Global tags

body {
}

a {
    color: #800000;
}

// Everything else

.wrap {
    @extend %container;
    padding-top: 20px;
}

form {
    margin-bottom: 1em;
}

input {
    margin-bottom: 4px;
}

.instructions {
    font-size: 12px;
    color: #aaa;
}
