<div class="wrap">
    <% if @alert %>
        <div class="alert alert-info">
            <%= @alert %>
        </div>
    <% end %>

    <form>
        <fieldset class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" class="form-control">
            <div class="instructions">Each word must start with a capital letter.</div>
        </fieldset>
        <fieldset class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" class="form-control">
            <div class="instructions">Second-level domain must be gmail, outlook, or aol. TLD must be 2 or more chars.</div>
        </fieldset>
        <fieldset class="form-group">
            <label for="zip-code">US ZIP code</label>
            <input id="zip-code" type="text" name="zip-code" class="form-control" placeholder="e.g. 1980" value="<%= @zip %>" data-regex="^\d{5}(?:[-\s]\d{4})?$">
            <div class="instructions">Short form or long form.</div>
        </fieldset>
        <fieldset class="form-group">
            <label for="color">Favorite color</label>
            <input id="color" type="text" name="color" class="form-control" placeholder="e.g. a1b2c3" value="<%= @color %>">
            <div class="instructions">Use hex value, pound sign optional.</div>
        </fieldset>
        <fieldset class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" name="username" class="form-control">
            <div class="instructions">Alphanumeric and dashes. No underscores.</div>
        </fieldset>
        <fieldset class="form-group">
            <label for="website">Website</label>
            <input id="website" type="text" name="website" class="form-control">
            <div class="instructions">Must start with http, https, or no protocol at all. No query strings or hashes.</div>
        </fieldset>
        <fieldset class="form-group">
            <label for="cc">Credit Card</label>
            <input id="cc" type="text" name="cc" class="form-control" placeholder="0000 0000 0000 0000">
            <div class="instructions">Four sets of four-digit numbers, separated by spaces.</div>
        </fieldset>
        <fieldset class="form-group">
            <label for="phone">Phone number</label>
            <input id="phone" type="text" name="phone" class="form-control" placeholder="000-000-0000">
            <div class="instructions">10 digits, with dashes. Must be a Chicagoland landline.</div>
        </fieldset>
        <fieldset class="form-group">
            <label for="birth-month">Birth month</label>
            <input id="birth-month" type="text" name="birth-month" class="form-control" placeholder="e.g. March">
            <div class="instructions">You must be born in a month that has an 'R'.</div>
        </fieldset>
        <fieldset class="form-group">
            <label for="birth-year">Birth year</label>
            <input id="birth-year" type="text" name="birth-year" class="form-control" placeholder="e.g. 1980">
            <div class="instructions">You must be older than 12.</div>
        </fieldset>
        <fieldset class="form-group">
            <label for="movie">Favorite movie</label>
            <input id="movie" type="text" name="movie" class="form-control" placeholder="e.g. 1980">
            <div class="instructions">We only accept one-word movies.</div>
        </fieldset>
        <fieldset class="form-group">
            <label for="type">Myers-Briggs type</label>
            <input id="type" type="text" name="type" class="form-control" placeholder="e.g. INTB">
            <div class="instructions"><a href="http://en.wikipedia.org/wiki/Myers_briggs#Four_dichotomies">More info on this.</a></div>
        </fieldset>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
